service firebase.storage {
  match /b/parcmap.appspot.com/o {
    match /{userId}/{fileName} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}