<div class="mdl-card mdl-shadow--16dp parcsCard" id="listCard" ng-class="{'small':!displayed, 'big':displayed}" ng-hide="displayed == false" ng-style="style()" resize>
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Parcs Around <span ng-hide="parcs.length == 0">({{parcs.length}})</span></h2>
		</div>
		<ul class="demo-list-item mdl-list" id="listParcs">
			<li ng-repeat="parc in parcs | orderBy:'distance'" class="mdl-list__item mdl-list__item--two-line" ng-click="displayParcDetails(parc)">
				<span class="mdl-list__item-primary-content">
					<span class="mdl-chip mdl-chip--contact" id="{{parc.key}}">
						<span class="mdl-chip__contact mdl-color--teal mdl-color-text--white " ng-show="parc.source=='community'">
							<i class="material-icons">face</i>
						</span>
						<span class="mdl-chip__contact mdl-color--pink mdl-color-text--white" ng-show="parc.source!='community'">
							<i class="material-icons">perm_identity</i>
						</span>
						<span class="mdl-chip__text">{{ parc.name }}</span>
					</span>		
					<span class="mdl-list__item-sub-title">{{parc.distance}} km  | 	{{parc.reviewsLength}} reviews</span>
				</span>
			</li>
		</ul>
</div>