<div class="mdl-card mdl-shadow--16dp parcsCard" id="detailsCard" ng-show="displayed"  ng-style="style()" resize>
 <div  class="transformable" id="parcDetailsContainer" >
    <span id="closeDetails" ng-click="closeParcDetails()"><i class="material-icons">keyboard_arrow_left</i>Back to results</span>
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">{{parc.name }}</h2>

    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#details-panel" class="mdl-tabs__tab is-active">Details</a>
          <a href="#review-panel" class="mdl-tabs__tab"> 
            <span class="mdl-badge" data-badge="{{parc.reviewsLength}}">Reviews</span>
          </a>
        </div>
        <div class="mdl-tabs__panel is-active" id="details-panel">
          <h3 class="mdl-card__subtitle-text">Added by:  {{ parc.addedBy }}</h3>
          <div id="parcDetailsClose" ng-if="!parc.open">
            <h3  id="parcDetailsName">Closed</h3>
          </div>
          <div id="parcDetailsDescription"> {{parc.description}} </div>
          <div  id="parcDetailsFacilities">
            <span id="parcDetailsWater" ng-if="parc.water">Water</span>
            <img src="../images/slide.png" id="slideImg" ng-if="parc.slide"/>
            <div class="mdl-tooltip" data-mdl-for="slideImg">Slide</div>
            <img src="../images/swing.png" id="swingImg"/>
            <div class="mdl-tooltip" data-mdl-for="swingImg" ng-if="parc.swing">Swing</div>
            <img src="../images/trampoline.png" id="trampolineImg"/>
            <div class="mdl-tooltip" data-mdl-for="trampolineImg" ng-if="parc.trampoline">Trampoline</div>
          </div>
          <div id="parcDetailsAge">
           <i class="material-icons" style="font-size:2em;color:rgb(255,235,59)" id="parcDetailsLittle" ng-if="parc.lessThan2years">accessibility</i>
           <div class="mdl-tooltip" data-mdl-for="parcDetailsLittle">Between 0 and 2 years old</div>
           <i class="material-icons" style="font-size:2.5em;color:rgb(83,109,254)" id="parcDetailsMiddle" ng-if="parc.between2and6">accessibility</i>
           <div class="mdl-tooltip" data-mdl-for="parcDetailsMiddle">Between 2 and 6 years old</div>
           <i class="material-icons" style="font-size:3em;color:rgb(255,64,129)" id="parcDetailsOld" ng-if="parc.sixandPlus">accessibility</i>
           <div class="mdl-tooltip" data-mdl-for="parcDetailsOld">More than 6 years old</div>
         </div>

         <div id="parcDetailspicture">
          <img id="parcDetailspictureIMG" src="{{parc.pictureUrl}}"></img>
        </div>
      </div> 

      <div class="mdl-tabs__panel" id="review-panel">

        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <div id="messages">
            <div ng-repeat="review in parc.reviews" class="message-container visible">
              <div class="spacing">
                <div class="pic" style="background-image: url({{review.photoUrl}});"></div>
              </div>
              <div class="message">{{review.text}}</div>
              <div class="name">{{review.name}}</div>
            </div>
          </div>
          <form  id="message-form" action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="message">
              <label class="mdl-textfield__label" for="message">Message...</label>
            </div>
            <button id="submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="saveReview()">
             Send
           </button>
         </form>
         <form hidden id="image-form" action="#">
           <input id="mediaCapture" type="file" accept="image/*,capture=camera">
           <button id="submitImage" title="Add an image" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--amber-400 mdl-color-text--white">
            <i class="material-icons">image</i>
          </button>
        </form>
      </div>
    </div>

    <div id="must-signin-snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  </div>
</div>
<div class="mdl-card__actions mdl-card--border">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="updateParc" ng-click="requestUpdate()">
    Update
  </a>
</div>
</div>
</div>